/* Generic formatting */
:root {
    --text-color-left: rgb(245, 245, 245);
    --text-color-right: rgb(60, 64, 67);
    --background-color-right: rgb(225, 225, 225);
    --background-color-form: rgb(235, 235, 235);
    --button-color: rgb(0, 90, 0);
    --button-highlight-color: rgb(0, 175, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 15, 15);
}

.container {
    height: 100vh;
    width: 90vw;
    margin: 1vh 5vw;
    border: 2px solid black; 
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color-left);
}

/* Left container */

.left {
    background-image: url(./trees.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.left-opacity {
    position: absolute;
    top: 15vh;
    height: max(150px, 14rem);
    width: 100%;
    font-family: 'Borel', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.left-opacity > div,
.svg-icon {
    font-size: clamp(1rem, 2vw, 4rem);
    width: auto;
    height: clamp(1rem, 2vw, 4rem);
}

.svg-icon {
    fill: var(--text-color-left);
}

.left a {
    text-decoration: none;
    color: var(--text-color-left);
}

.left a:hover {
    text-decoration: underline;
    font-weight: 800;
}

.left a:visited {
    color:rgb(185, 185, 185);
}

.credit {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
}

/* Right container */

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-right);
    color: var(--text-color-right);
}

.top-message {
    flex: 0.5;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.25rem 1rem;
}

.top-message > p {
    margin-top: 1.2rem;
}

.top-message p:last-child {
    color: black;
    font-weight: 800;
}

form {
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    flex: 0.33;
    padding: 2rem;
    width: 100%;
    background-color: var(--background-color-form);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: none;
    padding: 30px;
}

legend {
    font-size: 1.2rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    gap: 2rem;
}

.form-element {
    position: relative;
}

label {
    display: block;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input::placeholder {
    color: var(--text-color-right);
}

input:active {
    border: 1px solid black;
}

input:valid:not(:placeholder-shown) {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

.error-message {
    display: none;
    color: red;
    position: absolute;
}

input:invalid:not(:placeholder-shown) + .error-message {
    display: block;
}

.form-button {
    align-self: flex-start;
    padding: 1rem 1.5rem;
}

button {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--text-color-left);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 7rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}

button:hover {
    background-color: var(--button-highlight-color);
}

.form-button p {
    font-size: 1rem;
}

.form-button a {
    text-decoration: none;
    color: rgb(0, 30, 0);
}

.form-button a:hover {
    text-decoration: underline;
    font-weight: 800;
}

.form-button a:visited {
    color: rgb(0, 115, 0);
}
