* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(233, 233, 233);
}

.container {
    height: 100vh;
    width: 70vw;
    margin: auto;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    color: greenyellow;
}

.left {
    background-image: url(trees.jpg);
    background-size: cover;
    flex: 0.33;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: inherit;
    position: relative;
}

.right {
    flex: 0.67;
    border: inherit;
    display: flex;
    flex-direction: column;
}

.left-opacity {
    position: absolute;
    top: 20%;
    height: 12.5rem;
    width: 95%;
    font-family: 'Borel', sans-serif;
    font-size: 40px;
    display: flex;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.credit {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
}

.top-message,
form {
    background-color: rgb(0, 20, 15);
}

.top-message {
    border: 1px solid red;
    flex: 0.33;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem 2rem;
}

form {
    border: 1px solid red;
    flex: 0.67;
    padding: 30px;
}

fieldset {
    padding: 30px;
}

.svg-icon {
    fill: greenyellow;
}

a {
    text-decoration: none;
    color: greenyellow;
}

a:hover {
    text-decoration: underline;
    font-weight: 800;
}

a:visited {
    color:aquamarine;
}