* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid blue;
    height: 100vh;
    width: 70vw;
    margin: auto;
    display: flex;
}

.left {
    background-image: url(trees.jpg);
    background-size: cover;
    flex: 0.33;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: inherit;
    position: relative;
}

.right {
    flex: 0.67;
    border: inherit;
    display: flex;
    flex-direction: column;
}

.left-opacity {
    border: 1px solid red;
    position: absolute;
    top: 20%;
    height: 12.5rem;
    width: 100%;
}

.credit {
    border: 1px solid red;
    text-align: center;
    color: #FFF;
}

.top-message {
    border: 1px solid red;
    flex: 0.33;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem 2rem;
}

form {
    border: 1px solid red;
    flex: 0.67;
}
